<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
  <button type="button" class="navbar-toggler hidden-md-up float-xs-right" data-toggle="collapse" data-target="#stateless-navbar" aria-expanded="false" aria-controls="stateless-navbar" aria-label="Toggle navigation"></button>  
  <%= link_to root_path, class: 'navbar-brand' do %>
    <%= image_tag("Stateless-Logo32.png", {alt: 'Stateless Code', class: 'img-responsive rounded-circle'}) %> Stateless Code
  <% end %>  
  <div id="stateless-navbar" class="collapse navbar-toggleable-sm clearfix float-xs-left float-md-none">
    <ul class="nav navbar-nav float-xs-left">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="statelessResponsiveNavbarDropdown" data-toggle="dropdown" aria-expanded="false">Content</a>
        <div class="dropdown-menu bg-inverse" aria-labelledby="statelessResponsiveNavbarDropdown">
          <a class="dropdown-item bg-inverse text-muted" href="#">Screencasts</a>
          <a class="dropdown-item bg-inverse text-muted" href="#">Podcasts</a>
          <%= link_to 'Blog', articles_path, class: 'dropdown-item bg-inverse text-muted' %>        
            </div> 
      </li>

      <li class="nav-item"><a class="nav-link" href="#">About</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Help</a></li>
    </ul>
    <!-- TODO: make this form work -->
    <form class="form-inline float-xs-left float-md-right">
      <input type="text" class="form-control" placeholder="Search...">
    </form>
  </div>
</nav>
