<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
  <button type="button" class="navbar-toggler hidden-sm-up pull-left" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation"></button>
  <%= link_to root_path, class: 'navbar-brand' do %>
    <%= image_tag("Stateless-Logo32.png", {alt: 'Stateless Code', class: 'img-responsive'}) %> Stateless Code
  <% end %>
  <div id="navbar">
    <nav class="nav navbar-nav hidden-xs-down float-sm-left">
      <a class="nav-item nav-link" href="#">Screencasts</a>
      <a class="nav-item nav-link" href="#">Podcasts</a>
      <%= link_to 'Articles', articles_path, class: 'nav-item nav-link' %>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Profile</a>
      <a class="nav-item nav-link" href="#">Help</a>
    </nav>
    <!-- TODO: make this form work -->
    <form class="float-sm-right">
      <input type="text" class="form-control" placeholder="Search...">
    </form>
  </div>
</nav>
